<h1>Data [(binding]) | ngModel</h1>
<h1>{{name}}</h1>
<input type="text" required #nameInput="ngModel" [(ngModel)]="name">
<p>validacion: {{nameInput.valid}}</p>
<hr>
<h1>event (binding)</h1>
<button (click)="btnSendEnable()">Toggle Button</button>
<div class="box" (scroll)="onScroll($event)">
  <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quis incidunt beatae quas ipsa minima in, eius cumque
    doloribus aperiam soluta dicta architecto minus ea. Exercitationem repellat est a libero cumque?</p>
</div>
<hr>
<h1>Botón | Property [binding]</h1>
<button [disabled]="btnDisabled">Enviar</button>
<input type="text" [value]=btnDisabled />
<hr>
<h1>Interpolación</h1>
<h1>Hola {{ name }} y tengo {{ edad }}</h1>
<img width="500" src={{img}} alt="">
